DYNACOLLAB_BRATS_TRAIN_DIR=./data/BraTS19/HGG
DYNACOLLAB_BRATS_VAL_DIR=./data/BraTS19/VAL

DYNACOLLAB_CAROTID_CT_TRAIN_IMAGES=./data/CarotidArtery_CT/imagesTr
DYNACOLLAB_CAROTID_CT_TRAIN_LABELS=./data/CarotidArtery_CT/labelsTr
DYNACOLLAB_CAROTID_MRI_TRAIN_IMAGES=./data/CarotidArtery_MRI/imagesTr
DYNACOLLAB_CAROTID_MRI_TRAIN_LABELS=./data/CarotidArtery_MRI/labelsTr

DYNACOLLAB_CAROTID_CT_TEST_IMAGES=./data/CarotidArtery_CT/imagesTs
DYNACOLLAB_CAROTID_CT_TEST_LABELS=./data/CarotidArtery_CT/labelsTs
DYNACOLLAB_CAROTID_MRI_TEST_IMAGES=./data/CarotidArtery_MRI/imagesTs
DYNACOLLAB_CAROTID_MRI_TEST_LABELS=./data/CarotidArtery_MRI/labelsTs
