DYNACOLLAB_BRATS_TRAIN_DIR=./data/BraTS19/HGG

DYNACOLLAB_CAROTID_CT_TRAIN_IMAGES=./data/CarotidArtery_CT/imagesTr
DYNACOLLAB_CAROTID_CT_TRAIN_LABELS=./data/CarotidArtery_CT/labelsTr
DYNACOLLAB_CAROTID_MRI_TRAIN_IMAGES=./data/CarotidArtery_MRI/imagesTr
DYNACOLLAB_CAROTID_MRI_TRAIN_LABELS=./data/CarotidArtery_MRI/labelsTr
